{% extends "base.html" %}
{% comment %}
 *
 * $Id: mff.html,v 1.3 2013-05-23 20:05:51-07 dmf - $
 * Derek Frank (derekmfrank@gmail.com)
 *
 * NAME
 *     mff.html
 *
 * DESCRIPTION
 *     MFF HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}
{% load url from future %}

{% block head_title %}Michael F. Frank | Attorney at Law{% endblock %}

{% block navbar_class %}nb-mff{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" style="min-height: 340px;">
            <h2>{{ info }} | {{ info.title }}</h2>
            <div class="center" >
                <a href="{% url "mff" %}" title="">
                    {# <img src="{% static info.image %}" alt="Image for {{ info }}" width="200" height="300" align="middle" /> #}
                    <img src="{% static info.image %}" alt="Image for {{ info }}" />
                </a>
                <br /><i>{{ info.image_text }}</i>
            </div>
            {% for topic_bits in topics %}
            {% with topic_bits|first as topic %}
            {% with topic_bits|last as bits %}
                <div class="topic">
                    <h3>{{ topic }}</h3>
                    {% if topic.pretopic_list %}
                        {{ topic.pretopic_list|linebreaks }}
                    {% endif %}
                    <ul>
                        {% for bit in bits %}
                            <li>{{ bit }}</li>
                        {% endfor %}
                    </ul>
                    {% if topic.body %}
                        {{ topic.body|linebreaks }}
                    {% endif %}
                </div>
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </div>
    </div>
  
    <div id="content-right" >
        <div class="box">
            <h3>Contact Information</h3>
            <ul>
                {{ info }}<br />
                {{ info.title }}<br />
                <a href="mailto:{{ info.email }}" title="Contact Michael Frank">{{ info.email_name }}</a><br />
                {{ info.contact|linebreaks }}
            </ul>
            <h3>Other Sources</h3>
            <ul>
                {% for src in info.sources.all %}
                    <a href="{{ src.url }}">{{ src.title }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
