{% extends "base.html" %}
{% comment %}
 *
 * $Id: aboutme.html,v 1.9 2013-05-24 15:40:36-07 dmf - $
 * Derek Frank (derekmfrank@gmail.com)
 *
 * NAME
 *     aboutme.html
 *
 * DESCRIPTION
 *     About Me HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}
{% load url from future %}
{% load static from staticfiles %}

{% block head_title %}About Me | {{ SITENAME_ }}{% endblock %}

{% block navbar_class %}nb-aboutme{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>About me</h2>
            {% autoescape off %}
                {{ me.description }}
            {% endautoescape %}
        </div>
    </div>

    <div id="content-right" >
        <div class="box">
            {% if me.image %}
                <div class="center">
                    <img id="mypic" class="center" src="{% static me.image %}" alt="Me" width="260" height="260" />
                </div>
            {% endif %}
            <h3>Contact</h3>
            <ul>
                {{ me }}<br />
                {{ me.title }}<br />
                <a href="mailto:{{ me.email }}" title="Email Derek Frank: {{ me.email }}">{{ me.email_name }}</a> | 
                <a href="mailto:{{ me.alternative_email }}" title="Email Derek Frank: {{ me.alternative_email }}">{{ me.alternative_email_name }}</a><br />
            </ul>
            <h3>Repositories</h3>
            <ul>
                {% for repo in me.sources.all %}
                    {% if repo.type == 'RP' %}
                        <a href="{{ repo.url }}" title="Derek's {{ repo.title }} repository">{{ repo.title }}</a><br />
                    {% endif %}
                {% endfor %}
            </ul>
            <h3>Documents</h3>
            <ul>
                {% for doc in me.documents.all %}
                    <a href="{% static doc.document %}" title="Derek's {{ doc }}">{{ doc }}</a><br />
                {% endfor %}
            </ul>
            <h3>Other Sources</h3>
            <ul>
                {% for src in me.sources.all %}
                    {% if src.type != 'RP' %}
                        <a href="{{ src.url }}" title="Derek's {{ src.title }} {{ src.get_type_display }}">{{ src.title }}</a><br />
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
