{% comment %}
 *
 * $Id: about_content.html,v 1.1 2013-06-11 16:31:46-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     about_content.html
 *
 * DESCRIPTION
 *     Content about a generic user HTML template.
 *
{% endcomment %}
{% load collect from utils_tags %}
{% load nameof from accounts_tags %}

<div id="content-left">
    <div class="box" >
        {% if myuser == me %}
            <h2>About me</h2>
        {% else %}
            <h2>About {% nameof myuser %}</h2>
        {% endif %}
        {% autoescape off %}
            {{ myuser.description|default:"Nothing to say." }}
        {% endautoescape %}
    </div>
</div>

<div id="content-right" >
    <div class="box">
        {% if myuser.image %}
            <div class="center">
                <img id="mypic" class="center" src="{{ myuser.image.get_absolute_url }}" 
                     title="{% nameof myuser %}"
                     alt="Image for {% nameof myuser %}"
                     width="260" height="260" />
            </div>
        {% endif %}
        <h3>Contact</h3>
        <ul>
            <div class="block">{% nameof myuser %}</div>
            <div class="block">{{ myuser.title }}</div>
            <div class="block">
                {% if myuser.alternative_email %}
                    {% collect myuser.email myuser.alternative_email as emails %}
                {% else %}
                    {% collect myuser.email as emails %}
                {% endif %}
                {% for email in emails %}
                    {% if email and forloop.counter > 1 %}<span>|</span>{% endif %}
                    <a href="mailto:{{ email }}" 
                        title="Email {{ myuser.get_full_name|default:myuser.get_short_name|default:myuser }} at {{ email }}">
                        {% if forloop.counter == 1 %}
                            <span>{{ myuser.email_name|capfirst|default:email }}</span>
                        {% elif forloop.counter == 2 %}
                            <span>{{ myuser.alternative_email_name|capfirst|default:email }}</span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </ul>
        {% with repositories=myuser.repositories documents=myuser.documents profiles=myuser.profiles hobbies=myuser.hobbies %}
            {% if repositories %}
                <h3>Repositories</h3>
                <ul>{% with sources=repositories %}{% include "accounts/source_display.html" %}{% endwith %}</ul>
            {% endif %}
            {% if documents %}
                <h3>Documents</h3>
                <ul>{% with sources=documents %}{% include "accounts/source_display.html" %}{% endwith %}</ul>
            {% endif %}
            {% if profiles or hobbies %}
                <h3>Other Sources</h3>
                <ul>
                    {% with sources=profiles %}{% include "accounts/source_display.html" %}{% endwith %}
                    {% with sources=hobbies %}{% include "accounts/source_display.html" %}{% endwith %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
