{% extends "base.html" %}
{% comment %}
 *
 * $Id: aboutme.html,v 1.1 2013-05-30 23:46:52-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     about.html
 *
 * DESCRIPTION
 *     About someone HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}
{% load url from future %}
{% load static from staticfiles %}

{% with user.profile as profile %}
{% block title %}About {{ user }}{% endblock %}

{% block navbar_class %}nb-aboutme{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>About {{ user }</h2>
            {% autoescape off %}
                <span>{{ user.description }}</span>
            {% endautoescape %}
        </div>
    </div>

    <div id="content-right" >
        <div class="box">
            {% if user.image %}
                <div class="center">
                    <img id="mypic" class="center" src="{% static user.image.get_absolute_url %}" alt="Image for {{ user }}" width="260" height="260" />
                    <span>{{ user.image }}</span>
                </div>
            {% endif %}
            <h3>Contact</h3>
            <ul>
                <div class="block">{{ user }}</div>
                <div class="block">{{ user.title }}</div>
                <div class="block">
                    <a href="mailto:{{ user.email }}" 
                        title="Email {{ user }}: {{ user.email }}">{{ user.email_name|title }}</a>
                    {% if profile %}
                        <span>|</span>
                        <a href="mailto:{{ profile.alternative_email }}" 
                           title="Email Derek Frank: {{ profile.alternative_email }}">{{ profile.alternative_email_name }}</a>
                    {% endif %}
                </div>
            </ul>
            <h3>Repositories</h3>
            <ul>
                {% for repo in sources %}
                    {% if repo.type == 'RP' %}
                        <div class="block">
                            <a href="{{ repo.url }}" title="Derek's {{ repo.title }} repository">{{ repo.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
            <h3>Documents</h3>
            <ul>
                {% for doc in documents %}
                    <div class="block">
                        <a href="{% if doc.document %}{% static doc.document %}{% else %}{{ doc.url }}{% endif %}" 
                           title="Derek's {{ doc }}">{{ doc }}</a>
                    </div>
                {% endfor %}
            </ul>
            <h3>Other Sources</h3>
            <ul>
                {% for src in sources %}
                    {% if src.type != 'RP' %}
                        <div class="block">
                            <a href="{{ src.url }}" 
                               title="Derek's {{ src.title }} {{ src.get_type_display }}">{{ src.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% endwith %}
