{% extends "base.html" %}
{% comment %}
 *
 * $Id: aboutme.html,v 1.1 2013-05-30 23:46:52-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     aboutme.html
 *
 * DESCRIPTION
 *     About me HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}
{% load url from future %}
{% load static from staticfiles %}

{% block title %}About Me | {{ myprofile }}{% endblock %}

{% block navbar_class %}nb-aboutme{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>About me</h2>
            {% autoescape off %}
                <span>{{ myprofile.description }}</span>
            {% endautoescape %}
        </div>
    </div>

    <div id="content-right" >
        <div class="box">
            {% if myprofile.image %}
                <div class="center">
                    <img id="mypic" class="center" src="{% static myprofile.image.get_absolute_url %}" alt="Image for {{ myprofile }}" width="260" height="260" />
                </div>
            {% endif %}
            <h3>Contact</h3>
            <ul>
                <div class="block">{{ myprofile }}</div>
                <div class="block">{{ myprofile.title }}</div>
                <div class="block">
                    <a href="mailto:{{ myprofile.email }}" 
                        title="Email {{ me }}: {{ myprofile.email }}">{{ myprofile.email_name|title }}</a>
                   {% if myprofile.alternative_email %}
                        <span>|</span>
                        <a href="mailto:{{ myprofile.alternative_email }}" 
                            title="Email {{ me }}: {{ myprofile.alternative_email }}">{{ myprofile.alternative_email_name|title }}</a>
                    {% endif %}
                </div>
            </ul>
            <h3>Repositories</h3>
            <ul>
                {% for repo in myprofile.repositories %}
                    <div class="block">
                        <a href="{{ repo.get_absolute_url }}" title="{{ me }}'s {{ repo.title }} repository">{{ repo.title }}</a>
                    </div>
                {% endfor %}
            </ul>
            <h3>Documents</h3>
            <ul>
                {% for doc in myprofile.documents.all %}
                    <div class="block">
                        <a href="{% static doc.get_absolute_url %}" title="{{ me }}'s {{ doc }}">{{ doc }}</a>
                    </div>
                {% endfor %}
            </ul>
            <h3>Other Sources</h3>
            <ul>
                {% for hob in myprofile.hobbies %}
                    <div class="block">
                        <a href="{{ hob.get_absolute_url }}" title="{{ me }}'s {{ hob.title }}">{{ hob.title }}</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
