{% extends "base.html" %}
{% comment %}
 *
 * $Id: portfolio.html,v 1.1 2013-05-30 23:46:52-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     portfolio.html
 *
 * DESCRIPTION
 *     Portfolio HTML template.
 *
{% endcomment %}

{% block title %}Portfolio | {% endblock %}

{% block navbar_class %}nb-portfolio{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>Portfolio</h2>
            {% if not projects and not education %}
                <span class="italic">Coming soon . . .</span>
            {% else %}
                {% if projects %}
                    {% include "portfolio/projects.html" %}
                {% endif %}
                {% if education %}
                    {% include "portfolio/education.html" %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div id="content-right" >
        {% if sources %}
            {% include "portfolio/sources.html" %}
        {% endif %}
    </div>
{% endblock %}
