{% extends "base.html" %}
{% comment %}
 *
 * $Id: portfolio.html,v 1.1 2013-06-30 17:08:56-07 dmf - $
 * Derek Frank
 *
 * NAME
 *     portfolio.html
 *
 * DESCRIPTION
 *     Portfolio HTML template.
 *
{% endcomment %}

{% block title %}Portfolio | {% endblock %}

{% block navbar_class %}nb-portfolio{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>Portfolio</h2>
            {% if projects or education %}
                {% if projects %}
                    {% include "portfolio/projects.html" %}
                {% endif %}
                {% if projects and education %}
                    <div class="center endborder"></div>
                {% endif %}
                {% if education %}
                    {% include "portfolio/education.html" %}
                {% endif %}
            {% else %}
                <span class="italic">Coming soon . . .</span>
            {% endif %}
        </div>
    </div>

    <div id="content-right" >
        {% with repos=myuser.repositories.all profiles=myuser.profiles.all %}
            {% if repos or profiles %}
                {% include "portfolio/sources.html" %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
