{% comment %}
 *
 * $Id: projects.html,v 1.1 2013-06-30 17:08:56-07 dmf - $
 * Derek Frank
 *
 * NAME
 *     projects.html
 *
 * DESCRIPTION
 *     Portfolio projects HTML template.
 *
{% endcomment %}

<h3>Projects:</h3>
<ul>
    {% for project in projects %}
        {% if project.url %}
            <h4 class="project">
                <a href="{{ project.url }}"
                   title="Visit the website for {{ project.title }}">
                    <span>{{ project.title }}</span>
                </a>
            </h4>
        {% else %}
            <h4 class="project">{{ project.title }}</h4>
        {% endif %}
        <span class="timestamp">{{ project.date }}</span>
        <ul><span>{{ project.description|linebreaks }}</span></ul>
        <ul>
            {% if project.repository_url %}
                <h5 class="inline">Repository:</h5>
                <a href="{{ project.repository_url }}"
                   title="Visit {{ project }} repository on {{ project.repository_name }}">
                    <span>{{ project.repository_name|capfirst }}</span>
                </a>
            {% endif %}
            {% with langs=project.programming_languages.all %}
                {% if langs %}
                    <h5>Language(s):</h5>
                    <ul>
                        {% for pl in langs %}
                            <span>{{ pl|title }}</span><br />
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </ul>
        {% if not forloop.last %}<div class="center entryborder"></div>{% endif %}
    {% endfor %}
</ul>

