{% extends "base.html" %}
{% comment %}
 *
 * $Id: portfolio.html,v 1.4 2013-05-23 19:47:36-07 dmf - $
 * Derek Frank (derekmfrank@gmail.com)
 *
 * NAME
 *     portfolio.html
 *
 * DESCRIPTION
 *     Portfolio HTML template.
 *
{% endcomment %}

{% block head_title %}Portfolio | {{ SITENAME_ }}{% endblock %}

{% block navbar_class %}nb-portfolio{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>Portfolio</h2>
                <h3>Projects:</h3>
                <ul>
                    {% for project in projects %}
                        {% if project.url %}
                            <h4 class="project">
                                <a href="{{ project.url }}"
                                   title="Visit the website for {{ project.title }}">
                                    {{ project.title }}
                                </a>
                            </h4>
                        {% else %}
                            <h4 class="project">{{ project.title }}</h4>
                        {% endif %}
                        <span class="timestamp">{{ project.date }}</span>
                        <ul><p>{{ project.description|linebreaks }}</p></ul>
                        <ul>
                        {% if project.language %}
                            <h5>Language(s):</h5>
                            <ul>
                                {% for lang in project.language.all  %}
                                    <li class="projectdetail"><strong>{{ lang.get_type_display }} language:</strong> {{ lang }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if project.repository_url %}
                            <li class="projectdetail">
                                <strong>Repository:</strong>
                                <a href="{{ project.repository_url }}"
                                   title="Visit {{ project }} repository on {{ project.get_repository_name_display }}">
                                    {{ project.get_repository_name_display }}
                                </a>
                            </li>
                        {% endif %}
                        </ul>
                    {% endfor %}
                </ul>
            <h3>Education:</h3>
            <ul>
                {% for edu in education %}
                    {% if edu|first %}{% with edu|first as school %}
                        <h4>{{ school.name }}</h4>
                        <span class="timestamp">{{ school.graduation_date }}</span>
                        <ul>
                            {% if school.degree %}
                                <h5>Degree:</h5>
                                <ul>
                                    <li class="edudegree">{{ school.get_degree_display }}{% if school.major %} with a major in {{ school.get_major_display }}{% if school.minor %} and a minor in {{ school.get_minor_display }}{% endif %}{% endif %}</li>
                                </ul>
                            {% endif %}
                            {% if edu|last %}{% with edu|last as courses_asgs %}
                                <h5>Classes and coursework: 
                                    {% if school.coursework_repository_url %}
                                        <a href="{{ school.coursework_repository_url }}" 
                                           title="Visit coursework repository on {{ school.get_coursework_repository_name_display }}">
                                            [{{ school.get_coursework_repository_name_display }}]
                                        </a>
                                    {% endif %}
                                </h5>
                                <ul>
                                    {% for department in departments %}
                                        <li class="edudept">{{ department|last }}:</li>
                                        <ul>
                                        {% for course_asgs in courses_asgs %}
                                        {% with course_asgs|first as course %}
                                        {% with course_asgs|last as asgs %}
                                            {% if course.department == department|first %}
                                                <li class="educourse">
                                                    {% if course.course_url %}
                                                        <a href="{{ course.course_url }}" 
                                                           title="{{ course.description }}">
                                                            {{ course }}
                                                        </a>
                                                    {% else %}
                                                        {{ course }}
                                                    {% endif %}
                                                    {% if course.repository_url %}
                                                        <a href="{{ course.repository_url }}" 
                                                           title="Visit course repository on {{ course.get_repository_name_display }}">
                                                            [{{ course.get_repository_name_display }}]</a>
                                                    {% endif %}
                                                    {% if course.lab_letter %}
                                                        <a href="{{ course.lab_url }}"
                                                           title="Visit course lab website">
                                                            with Lab {{ course.lab_letter|title }}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                                {% if asgs|first %}
                                                    <ul>
                                                    {% for asg in asgs %}
                                                        <li class="eduasg">
                                                            {% if asg.assignment_url %}
                                                                <a href="{{ asg.assignment_url }}"
                                                                   title="Visit '{{ asg }}' specifications">
                                                                    {{ asg.identification|title }} - {{ asg.get_programming_language_display }} - {{ asg.name }}
                                                                </a>
                                                            {% else %}
                                                                {{ asg.identification|title }} - {{ asg.get_programming_language_display }} - {{ asg.name }}
                                                            {% endif %}
                                                            {% if asg.repository_url %}
                                                                <a href="{{ asg.repository_url }}"
                                                                   title="Visit '{{ asg }}' repository on {{ asg.get_repository_name_display }}">
                                                                    [{{ asg.get_repository_name_display }}]
                                                                </a>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        {% endwith %}
                                        {% endwith %}
                                        {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </ul>
                            {% endwith %}{% endif %}
                        </ul>
                    {% endwith %}{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content-right" >
        <div class="box">
            <h2 class="sub">More Sources</h2>
            <ul>
                {% for source in sources %}
                    <li><a href="{{ source.url }}" title="Visit {{ source.title }}">{{ source.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
