{% extends "base.html" %}
{% comment %}
 *
 * $Id: blog.html,v 1.3 2013-05-23 19:47:36-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     blog.html
 *
 * DESCRIPTION
 *     Blog HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}

{% block head_title %}Blog | {{ SITENAME_ }}{% endblock %}

{% block navbar_class %}nb-blog{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            {% block blog_content %}
                <h2>Blog</h2>
                {% for post in posts %}
                    {% include "blogpost.html" %}
                    {% if not forloop.last %}<div class="blogpostborder"></div>{% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>

    <div id="content-right">
        <div class="box">
            <h3>Interersting reads</h3>
            {% include "bloglinks.html" %}
        </div>
    </div>
{% endblock %}
