{% comment %}
 *
 * $Id: blogpost.html,v 1.1 2013-05-30 23:46:52-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     blogpost.html
 *
 * DESCRIPTION
 *     Blog Post HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}
{% load url from future %}

<div class="block">
    <a class="header" href="{% url "blog" %}{{ post.id }}/" 
       title="View blog post {{ post.id }}"><h3>{{ post.title }}</h3>
    </a>
    <span class="postinfo">
        <span>Posted on <span class="timestamp">{{ post.timestamp }}</span> by</span>
        <a href="{% url "aboutme" %}" title="{{ post.owner }} | {{ post.owner.title }}">{{ post.owner }}</a>
    </span>
</div>
{% if post.image or post.image_url %}
    <div class="center">
        {% if post.image %}
            <img src="{% static post.image %}" alt="Blog Post {{ post.id }} Image" />
        {% else %}
            <img src="{{ post.image_url }}" alt="Blog Post {{ post.id }} Image" />
        {% endif %}
    </div>
{% endif %}
<ul>
    {% autoescape off %}
        <span>{{ post.body|linebreaks }}</span>
    {% endautoescape %}
</ul>
