{% extends "base.html" %}
{% comment %}
 *
 * $Id: business.html,v 1.1 2013-06-17 17:48:24-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     aboutmff.html
 *
 * DESCRIPTION
 *     MFF HTML template.
 *
{% endcomment %}
{% load url from future %}
{% load nameof from accounts_tags %}

{% block title %}{% nameof myuser %}{% if myuser.title %} | {{ myuser.title }}{% endif %} | {% endblock %}

{% block navbar_class %}nb-mff{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" style="min-height: 340px;">
            <h2>{% nameof myuser %}{% if myuser.title %} | {{ myuser.title }}{% endif %}</h2>
            {% if myuser.image %}
                <div class="center" >
                    <a class="block" href="{% url "aboutmff" %}" title="{{ myuser.image.subtext }}">
                        <img  src="{{ myuser.image.get_absolute_url  }}" alt="Image for {% nameof myuser %}" />
                    </a>
                    <span class="italic">{{ myuser.image.subtext }}</span>
                </div>
            {% endif %}
            <div class="">
                {% for topic_bits in topics %}
                {% with topic_bits|first as topic %}
                {% with topic_bits|last as bits %}
                    <div class="topic clearfix">
                        <h3>{{ topic }}</h3>
                        {% if topic.pretopic_list %}
                            <span>{{ topic.pretopic_list|linebreaks }}</span>
                        {% endif %}
                        <ul>
                            {% for bit in bits %}
                                <li>{{ bit }}</li>
                            {% endfor %}
                        </ul>
                        {% if topic.body %}
                            <span>{{ topic.body|linebreaks }}</span>
                        {% endif %}
                    </div>
                {% endwith %}
                {% endwith %}
                {% endfor %}
                </div>
        </div>
    </div>
  
    <div id="content-right" >
        <div class="box">
            <h3>Contact Information</h3>
            <ul>
                <span class="block">{% nameof myuser %}</span>
                <span class="block">{{ myuser.title }}</span>
                <a class="block" href="mailto:{{ myuser.email }}" 
                   title="Contact {% nameof myuser %} via {{ myuser.email }}">{{ myuser.email_name|default:myuser.email|capfirst}}</a>
                <span class="block">{{ myuser.description|linebreaks }}</span>
            </ul>
            <h3>Other Sources</h3>
            <ul>
                {% for src in myuser.sources %}
                    <a class="block" href="{{ src.get_absolute_url }}">{{ src.title }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
