{% extends "base.html" %}
{% load static from staticfiles %}

{% block navbar_class %}nb-blog{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>Blog</h2>
            <p>
                <h3>Why Libertarian?</h3>
                <ul>
                    <p>
                        When it comes right down to it, I am a Libertarian because I believe in the importance of the Constitution.  
                        I am a Libertarian because I do not believe the government should have so much influence in my life.  
                        Our government exists to secure our Constitutional rights, enforce legal contracts and dealings, protect us from war, and keep the peace.  
                        The United States elects a group of <i>people</i> to spend the taxpayers' money, and then some.  
                        These elected officials continue to borrow and spend money as if we do not already have a large enough deficit.  
                    </p>
                    <p>
                        I hope people will begin to vote for what they actually believe in and invest some time in researching all Presidential candidates from 
                        Jill Stein with the Green Party to even Mitt Romney with the Republican Party.  
                        I find my views most similar to that of Ron Paul's and Gary Johnson's.  
                        I will <i>waste</i> my vote on a third party because in the end it will make a difference despite other beliefs.  
                        If I make such a decision, then why can't someone else? 
                        Please, vote for what you believe in and not for "the lesser of two evils."
                    </p>
                    <p>
                        
                    </p>
                </ul>
                <div class="center">
                    <a href="http://www.garyjohnson2012.com/issues" title="There is a third candidate on the ballot...">
                        <img src="{% static "img/garyjohnson/gj-liberty.jpg" %}" alt="Vote for liberty" width="323" height="500" />
                    </a>
                </div>
            </p>
        </div>
    </div>

    <div id="content-right">
        <div class="box">
            <h3>Interersting reads</h3>
            <p>
                <h5>Politics</h5>
                <ul>
                    <li><a href="http://www.crisishq.com/why-prepare/the-illusion-of-choice/" title="">
                        Not much difference where it matters: Obama vs. Romney</a></li>
                    <li><a href="http://www.creators.com/opinion/john-stossel/there-ought-not-to-be-a-law.html" title="">
                        A Libertarian view: Stossel</a></li>
                    <li><a href="http://angrywhitedude.com/2012/08/eric-holder-minorities-too-stupid-to-acquire-voter-id/" title="">
                        Our Attorney General</a></li>
                    <li><a href="http://www.american.com/archive/2011/august/obamasfollytaxingtherich/" title="">
                        Higher taxes may not be the solution</a></li>
                    <li><a href="http://morallowground.com/2012/09/06/obamas-top-50-broken-promises/" title="">
                        Obama's broken promises</a></li>
                    <li><a href="http://www.youtube.com/watch?v=7NfLUCBZ1is" title="">
                        Free trade IS fair</a></li>
                    <li><a href="http://reason.com/assets/db/13473668928772.jpg" title="">
                        Failed economic recovery</a></li>
                </ul>
            </p>
        </div>
    </div>
{% endblock %}
