{% extends "base.html" %}
{% comment %}
 *
 * $Id: home.html,v 1.10 2013-06-17 17:48:24-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     home.html
 *
 * DESCRIPTION
 *     Home HTML template.
 *
{% endcomment %}
{% load url from future %}
{% load nameof from accounts_tags %}

{% block navbar_class %}nb-home{% endblock %}

{% block body_inner_content %}
    <div id="content">
        <div class="box" >
            <h2>{% nameof me %}{% if me.title %} | {{ me.title }}{% endif %}</h2>
            {% for news in feed %}
                <h4>{{ news.title }}:</h4>
                {% autoescape off %}<ul>{{ news.body }}</ul>{% endautoescape %}
                <span class="postinfo">
                    <span>Posted on <span class="timestamp">{{ news.timestamp|date:"M d, Y" }}</span> by</span>
                    <a href="{% url 'accounts.views.user' username=news.author.username  %}" 
                        title="{% nameof news.author %}{% if news.author.title %} | {{ news.author.title }}{% endif %}">
                        <span>{% nameof news.author %}</span>
                    </a>
                </span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
