{% extends "base.html" %}

{% block pageclass %}nb-home{% endblock %}

{% block content-id %}content-left{% endblock %}
{% block content %}
  <h1>Your Feeding:</h1>
  {% for feednum in feednums %}
  <div class="feedbox" style="background-color: #000011;" >
    <h2 style="color: white;" >John Hancock</h2>
    <p style="color: #00ffff;" >
      An example of a feeding update.<br />
      Testing with a second line.
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
    </p>
  </div>
  <div class="feedbox-right" style="background-color: #000011;" >
    <h2 style="color: white;" >Mike Douglas</h2>
    <p style="color: #ff00ff;" >
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
    </p>
  </div>
  <div class="feedbox" style="background-color: #000011;" >
    <h2 style="color: white;" >John Hancock</h2>
    <p style="color: #00ff00;" >
      An example of a feeding update.<br />
      Testing with a second line.
    </p>
  </div>
  <div class="feedbox-right" style="background-color: #000011;" >
    <h2 style="color: white;" >Mike Douglas</h2>
    <p style="color: #ff0000;" >
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
    </p>
  </div>
  <div class="feedbox" style="background-color: #000011;" >
    <h2 style="color: white;" >John Hancock</h2>
    <p style="color: #0000ff;" >
      An example of a feeding update.<br />
      Testing with a second line.
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
    </p>
  </div>
  <div class="feedbox-right" style="background-color: #000011;" >
    <h2 style="color: white;" >Mike Douglas</h2>
    <p style="color: #ffff00;" >
      This is going to be a longer line test.  I want to see the feed box have to handle more than it can fit.
      A couple todo items would be to still test on transparency/opacity (possibly with a special background image)
      and to work on a better three-dimensional feeding box.<br />
      Testing with a second line.
    </p>
  </div>
  {% endfor %}
{% endblock %}
