{% extends "base.html" %}

{% block pageclass %}nb-home{% endblock %}

{% block content-id %}content-left{% endblock %}
  <div id="intro" class="box" style="min-height: 10px;">
    <h2>Derek M. Frank's Personal Website</h2>
    <p>
      <h4>Currently:</h4>
      <ul>
        <li>Applying for software engineering positions</li>
        <li>Developing an Android application.</li>
        <li>Working on a C++ Grandmaster Certification by taking an online course designing a C++11 Compiler. <a href="http://www.cppgm.org/index.html" title="Visit website">[Source]</a></li>
      </ul>
    </p>
    <p>
      <i>More coming soon...</i>
    </p>
  </div>

{% block content %}
{% endblock %}
