{% extends "base.html" %}
{% comment %}
 *
 * $Id: blog.html,v 1.1 2013-06-30 17:02:40-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     blog.html
 *
 * DESCRIPTION
 *     Blog HTML template.
 *
{% endcomment %}
{% load nameof from accounts_tags %}

{% block title %}Blog | {% endblock %}

{% block navbar_class %}nb-blog{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            <h2>Blog</h2>
            {% if entries %}
                {% include "blog/entries.html" %}
                {% block blog_more %}{% endblock %}
            {% else %}
                <span>No entries . . .</span>
            {% endif %}
        </div>
    </div>

    <div id="content-right">
        {% if sources %}
            {% include "blog/links.html" %}
        {% endif %}
        {% if previous %}
            {% include "blog/previous.html" %}
        {% endif %}
        {% if authors or dates %}
            {% include "blog/index.html" %}
        {% endif %}
    </div>
{% endblock %}
