{% extends "base.html" %}
{% comment %}
 *
 * $Id: entries.html,v 1.1 2013-06-11 16:31:46-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     blog.html
 *
 * DESCRIPTION
 *     Blog HTML template.
 *
{% endcomment %}
{% load nameof from accounts_tags %}

{% block title %}Blog | {% endblock %}

{% block navbar_class %}nb-blog{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            {% block blog_content %}
                <h2>Blog</h2>
                {% for entry in entries %}
                    {% include "blog/entry.html" %}
                    {% if not forloop.last %}<div class="center blogentryborder"></div>{% endif %}
                {% endfor %}
            {% endblock %}
            {% block blog_more %}{% endblock %}
        </div>
    </div>

    <div id="content-right">
        {% if sources %}
            <div class="box">
                <h2 class="sub">Interersting reads</h2>
                {% include "blog/links.html" %}
            </div>
        {% endif %}
        {% if authors or dates %}
            <div class="box">
                <h2 class="sub">Archive</h2>
                {% include "blog/index.html" %}
            </div>
        {% endif %}
    </div>
{% endblock %}
