{% comment %}
 *
 * $Id: entry.html,v 1.1 2013-06-11 16:31:46-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     entry.html
 *
 * DESCRIPTION
 *     Blog Entry HTML template.
 *
{% endcomment %}
{% load url from future %}
{% load nameof from accounts_tags %}

<div>
    <div class="block">
        <a class="header" href="{% url 'blog.views.archive_id' id=entry.id %}" 
           title="View blog entry {{ entry.id }}"><h3>{{ entry.title }}</h3>
        </a>
        <span class="postinfo">
            <span>By</span>
            <a href="{% url 'accounts.views.user' username=entry.author.username %}" 
               title="View profile for {% nameof entry.author %}{% if entry.author.title %} | {{ entry.author.title }}{% endif %}">
                <span>{% nameof entry.author %}</span>
            </a>
            <span> - {{ entry.timestamp }}</span>
        </span>
    </div>
    <div>
        <ul>
            {% if entry.html %}
                {% autoescape off %}
                    <span>{{ entry.body_html|default:"Nothing to say . . ." }}</span>
                {% endautoescape %}
            {% else %}
                <span>{{ entry.body|linebreaks|default:"Nothing to say . . ." }}</span>
            {% endif %}
        </ul>
    </div>
</div>
