{% comment %}
 *
 * $Id: links.html,v 1.1 2013-06-30 17:08:56-07 dmf - $
 * Derek Frank
 *
 * NAME
 *     links.html
 *
 * DESCRIPTION
 *     Blog Links HTML template.
 *
{% endcomment %}

<div class="box">
    <h2 class="sub">Interersting reads</h2>
    {% for cat, links in sources %}
        <h5>{{ cat }}</h5>
        <ul>
            {% for link in links %}
                <li><a href="{{ link.get_absolute_url }}" title="{{ link.description }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
