{% extends "base.html" %}
{% comment %}
 *
 * $Id: blog.html,v 1.1 2013-05-30 23:46:52-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     posts.html
 *
 * DESCRIPTION
 *     Blog HTML template.
 *
{% endcomment %}
{% load static from staticfiles %}

{% block title %}Blog | {{ me }}{% endblock %}

{% block navbar_class %}nb-blog{% endblock %}

{% block body_inner_content %}
    <div id="content-left">
        <div class="box" >
            {% block blog_content %}
                <h2>Blog</h2>
                {% for post in posts %}
                    {% include "blog/entry.html" %}
                    {% if not forloop.last %}<div class="center blogpostborder"></div>{% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>

    <div id="content-right">
        <div class="box">
            <h2 class="sub">Interersting reads</h2>
            {% include "blog/links.html" %}
        </div>
    </div>
{% endblock %}
