{% extends "blog/blog.html" %}
{% comment %}
 *
 * $Id: recent.html,v 1.1 2013-06-30 17:02:40-07 dmf - $
 * Derek Frank (dmfrank@gmx.com)
 *
 * NAME
 *     recent.html
 *
 * DESCRIPTION
 *     Blog recent entries HTML template.
 *
{% endcomment %}
{% load nameof from accounts_tags %}

{% block blog_more %}
    <div class="center endborder"></div>
    <div class="center">
        <a href="{% url 'blog.views.blog' %}"
           title="View all entries">
            <span class="postinfo">View all entries . . .</span>
       </a>
    </div>
{% endblock %}
